NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

NEXT_PUBLIC_CAMPUS_BOUNDS_SW_LAT=22.2488
NEXT_PUBLIC_CAMPUS_BOUNDS_SW_LNG=84.8968
NEXT_PUBLIC_CAMPUS_BOUNDS_NE_LAT=22.2572
NEXT_PUBLIC_CAMPUS_BOUNDS_NE_LNG=84.9065

NEXT_PUBLIC_LIBRARY_SPOT_ID=

LAUNCH_DATE=
ADMIN_EMAIL=
CRON_SECRET=